apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: library-system
data:
  nginx.conf: |
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log warn;
    pid /var/run/nginx.pid;

    events {
        worker_connections 1024;
    }

    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;

        log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent"';

        access_log /var/log/nginx/access.log main;

        sendfile on;
        keepalive_timeout 65;

        # Upstream Flask app
        upstream library_api {
            server library-app:8000;
        }

        server {
            listen 80;
            server_name _;

            # Health check
            location /health {
                proxy_pass http://library_api;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
            }

            # All requests to Flask app
            location / {
                proxy_pass http://library_api;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_connect_timeout 60s;
                proxy_send_timeout 60s;
                proxy_read_timeout 60s;
            }
        }
    }
