apiVersion: v1
kind: Service
metadata:
  name: library-nginx
  namespace: library-system
spec:
  selector:
    app: library-nginx
  ports:
  - port: 80
    targetPort: 80
    name: http
  - port: 443
    targetPort: 443
    name: https
  type: ClusterIP